@import 'compass/css3';
@import url(http://fonts.googleapis.com/css?family=Open+Sans|Merriweather|Source+Sans+Pro|PT+Serif);

// GRAYS
$gray: #777;
$gray-light: lighten($gray, 12%);
$gray-lighter: lighten($gray, 36%);

//COLORS
$hypothered: #bd1c2b;
$hypothered-desat: #bd5862;

//LINKS
$link-color:            $hypothered-desat;
$link-color-hover:      $hypothered;

//STANCE COLORS
$positive: #3aab39;
$negative: #d11c2b;
$neutral: #0171ba;

//OTHER VARIABLES
$thread-padding: 1em;
$threadexp-width: .8em;
$score-width: 40px;
$score-height: $score-width;
$heatmap-width: 25px;

// Columns
$column: 48;
$gutter: 24;

@function grid($cols:1) {
  @return (($cols * $column) + (($cols - 1) * $gutter)) / $em;
}

/* Shadow mixins */
@mixin smallshadow($a: 2px, $b: 2px, $c: .1) {
  @include box-shadow($a $b 3px hsla(0, 0%, 0%, $c));
}

@mixin plainform {
  color: $gray;
  background-color: #ffffff !important;
  border: 1px solid $gray-lighter;
  border-radius: .2em;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  padding: .33em .5em;
  &:focus {
    outline: 0;
    border: 1px solid $gray-light;
    @include box-shadow( inset 1px 1px 6px -1px $gray-lighter);
    }
  }

@mixin sweetbutton {
  @include background-image(
    linear-gradient(top, rgb(255, 255, 255) 0%, rgb(249, 249, 249) 100%));
  @include border-radius(.5em);
  @include box-shadow(
    inset 0 .2em 0 rgba(255, 255, 255, .2),
    0 .05em .1em rgba(0, 0, 0, .08));
  @include plainform;
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: .4em .9em .5em;
  text-shadow: 0 1px 2px rgba(255, 255, 255, .9);

  &:hover {
    @include background-image(
      linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%));
    border-color: $gray-light $gray-light $gray;
  }

  &:active {
    @include background-image(
      linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%));
    @include box-shadow(
      inset 0 .15em .25em rgba(0, 0, 0, .15),
      0 .05em .1em rgba(0, 0, 0, .0));
    border-color: $gray-light $gray-light $gray;
    top: .1em;
  }
}


//ICON IMAGES
@mixin icon_resets {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@mixin icon($icon) {
  @include icon_resets;
  background-image: url("../images/#{$icon}");
}


//ANNOTATOR TEXT STYLES
@mixin primarytext {
  font-weight: bold;
  font-size: 1.3em;
}

@mixin secondarytext {
  font-size: 1.1em;
  font-weight: bold;
}

@mixin tertiarytext {
  font-size: .8em;
}

@mixin tabbox {
  @include box-shadow(2px -10px 13px -8px hsla(0, 0%, 0%, .1) inset);
  background: hsla(0, 0%, 99%, 1);
  border-top-right-radius: 2em 5em;
  border-top-left-radius: 2em 5em;
  color: #999;
  border: 1px solid $gray-lighter;
  border-bottom: none;
  &:hover {
    background: white;
  }
  &:active {
    @include box-shadow( none );
  }
}

@mixin linkbutton {
  text-decoration: none;
  cursor: pointer;
  padding-left: 1.3em;
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: left center;
  color: black;
}

@mixin linkbutton_right {
  @include linkbutton;
  background-position: right;
  padding-left: 0;
  padding-right: 2em;
}

@mixin invisibox {
  background: transparent;
  border-color: transparent;
  outline-color: transparent;
}
