@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu+Mono);
/* line 5, site.css.scss */
a:link, a:visited {
  color: #777;
  text-decoration: none; }

/* line 10, site.css.scss */
a:hover {
  color: #666; }

/* line 14, site.css.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 25px;
  margin: 0; }

/* line 21, site.css.scss */
h1 {
  font-size: 51px;
  line-height: 75px;
  margin-top: 25px;
  margin-bottom: 25px; }

/* line 27, site.css.scss */
h2 {
  font-size: 38px;
  line-height: 50px;
  margin-top: 0px;
  margin-bottom: 25px; }

/* line 33, site.css.scss */
h3 {
  font-size: 21px;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 0px; }

/* line 39, site.css.scss */
p, ul {
  margin-top: 0px;
  margin-bottom: 25px; }

/* line 43, site.css.scss */
small, aside {
  font-size: 12px; }

/* line 47, site.css.scss */
.title {
  margin-left: 25px; }

/* line 51, site.css.scss */
.blurbs {
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
  position: absolute;
  width: 350px;
  right: 450px;
  padding: 0 10px;
  top: 0;
  background: white; }
  /* line 59, site.css.scss */
  .blurbs.in {
    right: 30px; }

/* line 64, site.css.scss */
.invert {
  background: #1f1f1f;
  color: #dcdccc; }

/* line 69, site.css.scss */
.invert h2, .invert h3 {
  color: #7f9f7f; }

/* line 73, site.css.scss */
.string, .regexp {
  color: #f39; }

/* line 77, site.css.scss */
.keyword {
  color: #00c; }

/* line 81, site.css.scss */
.comment {
  color: #777;
  font-style: oblique; }

/* line 86, site.css.scss */
.number {
  color: #369; }

/* line 90, site.css.scss */
.class, .special {
  color: #1181B8; }

/* line 94, site.css.scss */
body > svg {
  position: fixed;
  z-index: -1;
  width: 100%; }

/* line 101, site.css.scss */
text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  pointer-events: none; }

/* line 107, site.css.scss */
text.parent {
  fill: #000; }

/* line 111, site.css.scss */
circle {
  fill: #555;
  fill-opacity: .1;
  stroke: white;
  pointer-events: all; }

/* line 118, site.css.scss */
circle:hover {
  stroke: black;
  stroke-width: .5px; }

/* line 123, site.css.scss */
circle.parent {
  fill: #818191;
  fill-opacity: .1;
  stroke: white; }

/* line 129, site.css.scss */
circle.parent:hover {
  stroke: black;
  stroke-width: .5px; }

/* line 134, site.css.scss */
circle.child {
  pointer-events: all; }
