%h2.title Hack the Budget: Oakland
.democlickzone
.blurbs
  .city
    %h2 Budget Guide
    %h3 City's Two-Year Budget
    %p Local governments use budgets for a variety of reasons, but most importantly for accountability, planning, information and evaluation. The City of Oakland is on a two year budget cycle, with FY 2011-13 being Oakland’s eighth biennial budget. The two-year budget is intended to improve the City’s long-term planning, enhance funding stability, and to create greater efficiency in the budget development process.
    %p The City of Oakland first adopted a program-based budget format for FY 2003-05. The advantage of a program-based budget is that it focuses on the product of the budgeting effort rather than the line items that go into those programs. The various programs in the City’s budget are linked to the overarching goals and priorities of the Mayor and City Council. Budgets are identifiable at a program level where actual financials are captured (for revenues, expenditures, and positions); performance measures and targets can also be linked to programs.
    %p The City’s budget is adopted for a 24-month period; however, appropriations are divided into two one-year spending plans. During the second year of the two-year cycle, the Mayor and Council conduct a Midcycle budget review limited to significant variances in estimated revenue and revised mandates arising from Federal, State or Court actions. The Mayor, Council and staff also use the first year of the two-year budget cycle to review, refine, and enhance the utility of agency/departmental performance measures.



  .mayor
    %h2 Mayor
    %h3 Duties and Responsibilities
    %p The Mayor’s Office supports the Mayor in working the City Administrator and City staff to achieve the Mayor’s priorities: providing hope and opportunity for Oakland’s youth; strengthening public safety and reducing crime and violence; fostering sustainable economic growth and development of Oakland and Oakland residents; providing Oakland residents the opportunity to lead a healthy life; and providing city services in an effective and efficient manner. 
    %p The Mayor’s Office also works to create public/private partnerships, develop inter-governmental relationships with the County and surrounding jurisdictions; collaborate with the state and federal government on legislative and intergovernmental matters, promote a positive image of Oakland and establish partnerships with non-profit and philanthropic groups for the benefit