%h2.title BudgetPOP Oakland
.democlickzone
#blurbs.blurbs
  .city
    %h2 Budget Guide
    %h3 City's Two-Year Budget
    %p Local governments use budgets for a variety of reasons, but most importantly for accountability, planning, information and evaluation. The City of Oakland is on a two year budget cycle, with FY 2011-13 being Oakland’s eighth biennial budget. The two-year budget is intended to improve the City’s long-term planning, enhance funding stability, and to create greater efficiency in the budget development process.
    %p The City of Oakland first adopted a program-based budget format for FY 2003-05. The advantage of a program-based budget is that it focuses on the product of the budgeting effort rather than the line items that go into those programs. The various programs in the City’s budget are linked to the overarching goals and priorities of the Mayor and City Council. Budgets are identifiable at a program level where actual financials are captured (for revenues, expenditures, and positions); performance measures and targets can also be linked to programs.
    %p The City’s budget is adopted for a 24-month period; however, appropriations are divided into two one-year spending plans. During the second year of the two-year cycle, the Mayor and Council conduct a Midcycle budget review limited to significant variances in estimated revenue and revised mandates arising from Federal, State or Court actions. The Mayor, Council and staff also use the first year of the two-year budget cycle to review, refine, and enhance the utility of agency/departmental performance measures.



  #CapitalImprovement
    %h2 Capital Improvement Program
    %h3 Definition
    %p The Capital Improvement Program (CIP) includes, in general, new and continuing projects that are intended to construct or significantly extend the life of existing facilities, parks/open space, streets, sidewalks, and sewers; purchase technology related equipment and service contracts; mitigate traffic hazards; improve pedestrian and bicycle safety; and improve disabled persons’ access to City facilities. CIP projects generally cost more than $50,000.