- content_for :head do
  %title Hack the Budget Mockup
:javascript
  (function(){var d=document,s=d.createElement('script');s.setAttribute('src', 'https://test.hypothes.is/embed.js');d.body.appendChild(s)})()
= partial "maincontainer.haml"

